*,
*::before,
*::after {
	box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}

.page__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #00b3db;
}

.page,
.page__body {
  scrollbar-color: #00b3db;
  scrollbar-width: none;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar,
.scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb,
.scrollbar-thumb {
  background-color: #00b3db;
  border-radius: 40px;
}

.container {
  margin: 0 16px 0 15px;
}

@media (min-width: 768px) {
  .page__body::before {
    height: 74px;
  }
  .container {
    margin: 0 30px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin: 0 126px 0 123px;
  }
}
